header {
	display: flex;
	background-color: #1c1e1f;
	position: fixed;
	color: #ddd;
	font-size: 1.5rem;
	align-items: center;
	padding: 5px 1%;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-between;
	border-bottom: 1px solid #414448;
}
.logo {
	width: 20%;
}
