.mainNav {
	width: 60%;
}
.mainNav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: center;
}
.mainNav li {
	padding: 8px 0;
	margin: 0 5px;
	transition: 0.2s;
}
.mainNav li:hover {
	background-color: #727272;
	border-radius: 6px;
	transition: 0.2s;
}
.mainNav a {
	padding: 13px 35px 11px 35px;
	color: #ddd;
	text-decoration: none;
}
.mainNav svg {
	width: 28px;
	height: 28px;
}
.mainNav a:active,
.mainNav a.active {
	color: #3391ff;
	border-bottom: 2px solid;
	background-color: #1c1e1f;
	cursor: default;
}
