.signup {
}
.signup-text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
}
.signup-x i {
  cursor: pointer;
}
.signup-text h2 {
  margin: 0;
  font-size: 2rem;
}
.signup-text i {
  font-size: 1.5rem;
}
.birthday {
  display: flex;
  justify-content: space-between;
}
.gender {
  display: flex;
  justify-content: space-between;
}
.category-name {
  margin: 1rem 0 0 0;
  font-size: 0.7rem;
}
.btn-wrap {
  text-align: center;
}
