.button {
  width: 100%;
  font-weight: 700;
  padding: 1rem;
  color: #fff;
  border: none;
  background-color: #1877f2;
  font-size: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  background-color: #0b61ca;
  transition: 0.5s;
}
.signup {
  background-color: #2b831a;
  width: 60%;
}
.signup:hover {
  background-color: #1c5411;
  transition: 0.5s;
}
