header {
	display: flex;
	background-color: #1c1e1f;
	position: fixed;
	color: #ddd;
	font-size: 1.5rem;
	align-items: center;
	padding: 0 3%;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-between;
}
