.nav {
}
.nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav li {
	padding: 10px 30px;
}
.nav li:hover {
	background-color: #ddd;
	border-radius: 6px;
}
.nav a {
	color: #ddd;
	text-decoration: none;
}
.nav svg {
	width: 28px;
	height: 28px;
}
.nav a:active,
.nav a.active {
	color: #3391ff;
}
