.nav {
}
.nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav li {
	margin: 0 10px;
	padding: 15px 20px;
}
.nav li:hover {
	background-color: #ddd;
}
.nav a {
	color: #ddd;
	text-decoration: none;
}
.nav svg {
	width: 35px;
	height: 35px;
}
.nav a:hover,
.nav a:active,
.nav a.active {
	color: #3391ff;
}
